{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "babel",
    "import",
    "promise",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-var": "off",
    "vars-on-top": "off"
  },
  "overrides": [
    {
      "files": [
        "**/__mocks__/*.js",
        "**/__mockData__/*.js",
        "**/*.test.js",
        "**/*.spec.js",
        "**/*.stubs.js"
      ],
      "env": {
        "jest/globals": true
      },
      "plugins": [
        "jest"
      ],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}